h2 {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 50px;
    color: red;
}

.drinks {
    display: grid;
    font-family: "Noto Sans Arabic";
    font-size: 10px;
    line-height: 1;
}

.drink a img {
    height: 200px;
    display: inline-block;
}

.drink a img:hover {
    height: 250px;
}
