h2 {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 50px;
    color: red;
}

#drinks table {
    font-style: italic;
    color:blueviolet;
    border: 1px solid black;
    border-collapse: collapse;
}