<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Este es una pagina web de Bodega de Alcohol"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="resources/styles/registroLogin.css">
        <script src="/js/jquery-3.5.1.js"></script>
        <script src="/js/users.js"></script>
        <title>Formulario Registro</title>
    </head>
    <body>
        <section class="form-register">
            <p class="ainiciarsesion"><a href="IniciarSesion.html">¿Ya tengo cuenta?</a></p>
            <h4>Formulario Registro</h4>

            <form target="_blank" action="/controller/Register_User.php" onsubmit="return checkPassword(this)" method="post">
                Nombre:
                <input class="controls" type="text" name="nombres" id="nombres" pattern="[a-zA-Z\u00C0-\u00FF]+(\s[a-zA-Z\u00C0-\u00FF]+)?$" required>
                <br>

                Correo Electrónico:
                <input class="controls" type="email" name="mail" id="mail" required>
                <br>

                Password:
                <input class="controls" type="password" name="password" id="password" pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required >
                <br>

                New Password:
                <input class="controls" type="password" name="newPassword" id="newPassword" pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"  required >
                <br>

                Dirección:
                <input class="controls" type="text" name="direccion" id="direccion" maxlength="30" required>
                <br>

                Población:
                <input class="controls" type="text" name="poblacion" id="poblacion" maxlength="30" required>
                <br>

                Código Postal:
                <input class="controls" type="text" name="codigo postal" id="codigopostal" pattern="^\d{5}$" maxlength="5" required>
                <br>

                <p>Estoy de acuerdo con <a href="#">Termino y Condiciones</a></p>
                <input class="botons" type="submit" value="Registrar"><input class="botons" type="reset" value="Borrar">
            </form>
        </section>
    </body>
</html>